.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  font-family: "Roboto", sans-serif;
  border-radius: 8px;
  border: #eff2f6 solid 1px;
  height: 90vh;
}
@media (min-width: 320px) and (max-width: 480px) {
  .container {
    width: 70vw;
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .container {
    width: 70vw;
  }
}
