/*.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}*/

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 8px;
  height: 60%;
  width: 50vw;
}

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    width: 80%;
    height: 80%;
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .container {
    width: 60%;
  }
}
