.form {
  display: flex;
  /* border-top: 2px solid #d3d3d3; */
  border-radius: 25px;
  width: 70vw;
  align-items: center;
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
  background: lightgrey;
  border-radius: 25px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  color: #fff !important;
  border-radius: 100px;
  text-transform: uppercase;
  text-decoration: none;
  background: #e5a33f;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
}

/* @media (min-width: 320px) and (max-width: 480px) {
  .input {
    width: 50%;
    font-size: 0.8em;
  }
  .sendButton {
    width: 50%;
  }
} */
