.form {
  display: flex;
  /* border-top: 2px solid #d3d3d3; */
  border-radius: 25px;
  width: 70vw;
  align-items: center;
  justify-content: space-around;
  background: lightgrey;
}

.input {
  border: none;
  padding: 5%;
  width: 70%;
  font-size: 1.2em;
  background: lightgrey;
  border-radius: 25px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  color: #fff !important;
  border-radius: 100px;
  text-transform: uppercase;
  text-decoration: none;
  background: hsl(36, 76%, 57%);
  padding: 10px;
  display: inline-block;
  border: none;
  align-self: center;
}
.sendButton img {
  max-width: 6vw;
}

/@media (min-width: 320px) and (max-width: 980px) {
  .input {
    width: 50%;
    font-size: 0.8em;
  }
}
