@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300&display=swap");

.welcome {
  background: linear-gradient(180deg, #68b7dd 0%, #5594db 100%);
  width: 100vw;
  height: 100vh;
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.welcome h1 {
  font-size: 3rem;
  font-family: "MuseoModerno", cursive;
}
.welcome img {
  width: 30vw;
  align-self: center;
}

.link {
  padding: 40px;
  display: flex;
  flex-direction: column;
  color: white;
}

.patient {
  padding: 30px;
  color: white;
}
