@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

.list_container {
  width: 50vw;
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: 100%;
  align-items: center;
}

.list_title {
  font-family: "Lato", sans-serif;
  margin-bottom: 15px;
  font-size: 1.3em;
  color: #5594db;
  justify-self: center;
  grid-row: 1 / 2;
}

.card {
  font-family: "Lato", sans-serif;
  width: 50vw;
  height: auto;
  background: rgb(239, 242, 246);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 1em;
  transition: 0.3s;
}

.card_icons {
  grid-column-start: 3;
  grid-column-end: 5;
  justify-self: end;
}
.card_icons img {
  align-items: right;
  width: 20px;
  height: 20px;
}

.card:hover {
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.2);
}

.card_avatar {
  border-radius: 50%;
  margin-bottom: 10px;
  border: 1px solid lightgrey;
}

.card_title {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 50% 25% 25;
  align-items: center;
  color: rgb(37, 37, 37);
  font-weight: bold;
  border-color: 2px solid pink;
}

.card_name {
  margin-right: 5px;
  grid-column-start: 1;
  grid-column-end: 2;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card_mail ul {
  color: darken;
  font-size: 0.8rem;
  margin: 10px 0px;
  line-height: 22px;
  list-style: none;
}

.card_mail ul li {
  display: flex;
  align-items: center;
  color: darken;
  font-size: 0.8rem;
  margin-left: 20px;
}

.card_mail_img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.card_phone_img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.card_maj {
  font-size: 0.7rem;
  line-height: 1.4rem;
}

.chat_btn {
  margin-top: 5px;
  align-self: flex-end;
}

.chat_btn button {
  border: 1px solid #5594db;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(239, 242, 246);
  color: #5594db;
  font-size: 14px;
  cursor: pointer;
}

.chat_btn button:hover {
  background-color: #5594db;
  color: white;
}

@media (max-width: 990px) {
  .list_container {
    width: 100%;
  }
  .card {
    width: auto;
  }
  .card_title {
    grid-template-columns: 35% 35% 30%;
  }
}
