.navbar {
  position: sticky;
  top: 0;
  font-size: 0.9rem;
  color: #ffffff;
}

.menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-row: 5fr;
  justify-items: center;
  align-items: center;
}

.menu__info {
  margin: 0.6em;
  margin-bottom: 30px;
}

.menu__info h4 {
  font-size: 0.8rem;
  font-weight: normal;
  letter-spacing: 2px;
  margin-bottom: 7px;
}

.menu__info img {
  width: 64px;
  height: 64px;
  margin: 1px;
  clip-path: circle(40);
}

nav ul li {
  display: grid;
  grid-template-areas:
    "img textspan"
    "img textspan";
  grid-template-columns: 30px 1fr;
  align-items: center;
  justify-items: start;
  padding: 16px 0;
  cursor: pointer;
  transition: 0.2s;
  color: white;
  list-style: none;
}
nav ul li:hover span {
  color: white;
}
nav ul li span {
  grid-column-start: textspan;
  grid-column-end: textspan;
  margin: 0.8rem;
}

nav ul li img {
  width: 30px;
  height: 30px;
  opacity: 0.7;
  grid-column-start: img;
  grid-column-end: img;
}
nav ul li:hover img {
  opacity: 1;
}
@media (max-width: 990px) {
  .menu {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .menu__info img {
    width: 40px;
    height: 40px;
  }

  .menu__info h4 {
    font-size: 0.7rem;
    text-align: center;
  }
  nav {
    padding: 0;
    position: sticky;
  }

  nav ul li img {
    margin-bottom: 10px;
  }
  nav ul li span {
    display: none;
  }
}
