@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
}
.App {
  display: grid;
  width: 100%;
  grid-template-areas:
    "aside content"
    "aside content"
    "aside content"
    "aside content";
  grid-template-rows: auto;
  grid-template-columns: 20% 5fr;
  grid-column-gap: 0;
}

body {
  background-color: white;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.content {
  grid-row: content;
  grid-column: content;
  margin-left: 0.8rem;
}

.aside {
  grid-row-start: aside;
  grid-row-end: aside;
  grid-column-start: aside;
  grid-column-end: aside;
  background-color: #5594db;
  background-image: linear-gradient(180deg, #68b7dd 0%, #5594db 100%);
  font-size: 0.9rem;
  color: #000000;
}

.paragraphApp {
  color: white;
  font-size: large;
  text-align: center;
}

@media (max-width: 1090px) {
  .App {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 15% 1fr;
  }
}
@media (max-width: 390px) {
  .App {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 20% 1fr;
  }
}
